body {
  background: white;
  margin: 0;
  font-family: Arial, sans-serif;
}

.wrapper {
  padding: 40px 60px;
}

.icon{
  position: absolute;
    top: 0;
    right: 0;
    width: 400px;
    height: auto;
    z-index: 1000;
}

.logo {
  margin-bottom: 75px;
  width: 127.75928497314453;
  height: 40.105079650878906;
  top: 102px;
  left: 156px;
  gap: 10.03px;
  opacity: 1;

}

.title {
  font-size: 50px;
  font-weight: bolder;
  height: auto;
  top: 200px;
  font-weight: bold;
  margin: 0 0 10px;
}

.highlight {
  color: #0096d6;
}

.subtitle {
  font-size: 18px;
  color: #0f0f0f;
  margin-bottom: 20px;
}

.icon-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  align-items: baseline;
  margin-left: 510px; 
  cursor: pointer;
}



.text{
    font-size: 18px;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    color: #0f0f0f;
}


.question-row {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 10px; 
}

.question {
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.space {
  color: #0096c1;
  font-weight: bold;
}




.options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.options label.disabled {
  pointer-events: none; 
  opacity: 0.5;         
}


.options label {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: border-color 0.2s, background-color 0.2s;
}

/* Make the last one span full width */
.options label:last-child {
  flex: 1 1 100%;
}

.options label:hover {
  border-color: #0096c1;
  background-color: #f9f9f9;
}

.options input[type="radio"] {
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 18px;
  border: 2px solid #686c6d;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}

.options input[type="radio"]:checked {
  border-color: #4b4e4f;
  background-color: #404243;
}

.options input[type="radio"]:checked::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 3px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}





.next-btn {
  background-color: #0096d6;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  padding: 12px 30px;
  font-size: 16px;
  cursor: pointer;
}

.next-btn:hover {
  background-color: #007bb3;
}
