<!DOCTYPE html>
<html>
    <head>
        <title>Post Job 1</title>
        <link rel="stylesheet" href="PostJob2.css">
    </head>
    <body>
        <img src="/GYWDE-Landing-Page/src/constants/images/Ellipse 10.png" class="ellipse">
        <img src="/GYWDE-Landing-Page/src/constants/images/Screenshot_4-8-2025_142931_gywde.com.jpeg" class="gywde">
        <p style="font-size: 50px; font-weight: bold;" class="main">Tell us what you<br> need <span class="blue"> done.</span></p>
        <br>
        <p class="sub-text"> We'll guide you to create a perfect brief. The more detail the better.</p>
        <textarea placeholder="Enter a full bullet point or a full description of your project">Interactive Website with Rive and Spline animations and interactions</textarea>
        <button>Next</button>
    </body>
</html>