@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";




:root {
  font-family:'Work Sans';
  


  /* Custom Colors */
  --background: rgba(255, 255, 255, 1);
  --background-secondary : rgba(230, 245, 249, 1);
  --secondary: rgba(0, 45, 58, 1);
  --primary: #0096C1;
  --primary-hover:red;
  --light-primary: #02ADDE33;
  --border-color: #f0f0f0;
  --nav-bg: rgba(255, 255, 255, 0.4);
  --gradient-border: linear-gradient(90deg, #BAF0FF, #DBF7FF, #BAF0FF);



  /* text colors */
  --text-primary: #000000;
  --text-secondary: rgba(0, 0, 0, 1);
  --text-success: #21A601;
  --text-tertiary: #AEAEAE;

  /* Add more colors as needed */
}
