@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* Custom Colors */
  --color-main-bg: #ffffff;
  --color-primary: #14b66d;
  --color-primary-hover: #0f9a5b;

  /* Add more colors as needed */
}


